.gamePagePlusChat {
    float: left;
    width: 1450px;
    overflow: auto;
    padding: 15px;
    font-size: 16px;
    font-family: serif;
    background-image: url("#{resource['images/GamePageBackground.jpg']}");
    background-size: 100%;
}

.gamePage {
    float: left;
}

.leftSection {
    float: left;
    margin-right: 20px;
}

.middleSection {
    float: left;
    margin-right: 20px;
}

.rightSection {
    float: left;
    margin-right: 20px;
}

.supplySection {
    float: left;
    padding: 15px;
    background-color: #EEEEF0;
    border: 1px solid #DDDDE0;
}

.baseCards {
    float: left;
}

.supplyGrid {
    clear: both;
    float: left;
    padding-top: 15px;
}

.cardViewSection {
    clear: both;
    float: left;
    padding-top: 10px;
    width: 288px;
    text-align: center;
}

.cardView {
    float: left;
    width: 222px;
    height: 342px;
    padding: 15px;
    background-color: #EEEEF0;
    border: 1px solid #DDDDE0;
    text-align: center;
    border-radius: 20px;
    margin-left: 16px;
}

.emptyCardView {
    padding-top: 20px;
    font-style: italic;
}

.overrunCards {
    clear: both;
    float: left;
    width: 200px;
    margin-left: 42px;
    margin-bottom: 15px;
}

.playerInfoSection {
    float: left;
}

.unitsSection {
    clear: left;
    float: left;
    padding-top: 10px;
}

.unitsLabel {
    font-style: italic;
    padding-left: 10px;
}

.playerUnitsSection {
    float: left;
    margin-right: 10px;
    padding: 12px;
    width: 210px;
}

.opponentUnitsSection {
    float: left;
    padding: 12px;
    width: 210px;
}

.playAreaSection {
    float: left;
    width: 245px;
}

.playArea {
    padding-left: 10px;
    padding-top: 10px;
}

.handSection {
    float: left;
    width: 245px;
}

.hand {
    padding-left: 10px;
    padding-top: 10px;
}

.gameLogSection {
    clear: both;
    width: 265px;
    padding: 5px;
    border: 2px solid black;
    background-color: #EEEEF0;
}

.gameLog {
    height: 180px;
    overflow: auto;
    padding-right: 5px;
}

.chatSection {
    float: left;
    width: 265px;
    padding: 5px;
    border: 2px solid black;
    background-color: white;
}

.chats {
    height: 266px;
    overflow: auto;
    padding-right: 5px;
}

.playerCardInfoSection {
    padding-top: 15px;
}

.playerCardInfoBox {
    border: 1px solid #333;
    background-color: #EEEEF0;
    float: left;
    width: 277px;
}

.playerCardInfoRow {
    clear: left;
    float: left;
    padding: 5px;
}

.playerCardInfoNameContainer {
    float: left;
    min-width: 100px;
    margin-right: 5px;
    position: relative;
    top: -5px;
}

.playerCardInfoName {
    float: left;
    padding: 7px 14px;
}

.playerCardInfoValue {
    float: left;
    min-width: 45px;
    margin-right: 5px;
    text-align: center;
}

.turnInfoSection {
    clear: both;
    float: left;
    padding-top: 15px;
}

.turnInfoBox {
    border: 1px solid #333;
    background-color: #EEEEF0;
    float: left;
    width: 263px;
    padding: 7px;
}

.turnButtonsSection {
    clear:both;
}

.turnButtonWrapper {
    padding-top: 15px;
    clear: both;
    float: left;
    margin-left: 10px;
}

.turnButton {
    float: left;
    min-width: 130px;
    text-align: center;
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    border-radius: 20px;
    text-shadow: 1px 1px 3px #666666;
    font-family: Arial, sans-serif;
    color: #ffffff;
    font-size: 16px;
    padding: 20px 60px 20px 60px;
    border: solid #1f628d 2px;
    text-decoration: none;
}

.turnButton:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

.smallButtonWrapper {
    clear: both;
    float: left;
    padding-top: 7px;
}

.smallButton {
    float: left;
    min-width: 130px;
    text-align: center;
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    border-radius: 10px;
    font-family: Arial, sans-serif;
    color: #ffffff;
    font-size: 14px;
    padding: 8px 16px 8px 16px;
    text-decoration: none;
    border: solid #1f628d 2px;
}

.smallButton:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

.tinyButton {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    border-radius: 9px;
    font-family: Arial, sans-serif;
    color: #ffffff;
    font-size: 11px;
    padding: 1px 10px 1px 10px;
    text-decoration: none;
    border: solid #1f628d 2px;
}

.tinyButton:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

.supplyCard {
    clear: both;
    float: left;
    margin-bottom: 2px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
}

.supplyCardCost {
    float: left;
    padding: 5px 10px;
    margin-right: 2px;
    min-width: 24px;
    text-align: center;
}

.supplyCardInfo {
    float: left;
    padding: 5px 10px;
    min-width: 190px;
}

.infantryUnit {
    background-color: #66AA66;
}

.mechUnit {
    background-color: #DD5555;
}

.vehicleUnit {
    background-color: #F88017;
}

.resource {
    background-color: #EECC00;
}

.supportReaction {
    background-color: #77AAEE;
}

.support {
    background-color: #CCCCCC;
}

.overrun {
    background-color: #7733BB;
}

.overrunCard {
    background-color: #7733BB;
    color: white;
    margin-bottom: 2px;
    padding: 6px 8px;
    min-width: 115px;
    font-size: 14px;
}

.player {
    background-color: #70B9B9;
}

.opponent {
    background-color: #CC9977;
}

.card {
    clear: both;
    float: left;
    margin-bottom: 2px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
}

.cardInfo {
    float: left;
    padding: 5px 10px;
    min-width: 190px;
}

.playerInfo {
    padding-bottom: 5px;
    float: left;
    min-width: 245px;
}

.playerInfoName {
    float: left;
    padding: 10px;
    margin-right: 2px;
    width: 210px;
    min-height: 17px;
}

.playerInfoValue {
    float: left;
    padding: 7px 10px;
    margin-right: 2px;
    width: 55px;
    font-size: 20px;
    text-align: center;
}

.playerInfoIcon {
    margin-left: 5px;
    height: 19px;
    width: 19px;
}

.turnPhaseText {
    font-size: 16px;
    font-weight: bold;
}

.turnValueTextWrapper {
    padding-top: 5px;
}

.turnValueText {
    font-size: 20px;
}

.turnValueIcon {
    margin-left: 10px;
    height: 19px;
    width: 19px;
}

.currentPlayerTurnText {
    padding: 5px 15px;
    font-size: 18px;
}

.actionableCard {
    border: 3px solid #0055FF;
    padding: 2px 7px;
    cursor: pointer;
}

.buyableCard {
    border: 3px solid #0055FF;
    cursor: pointer;
}

.selected {
    border: 3px solid #cc00ff !important;
}

.buyableCard .supplyCardCost {
    padding-left: 8px;
    padding-right: 9px;
}

.buyableCard .supplyCardInfo {
    padding-right: 7px;
}

.gameOverSection {
    clear: both;
    padding-top: 15px;
    text-align: center;
}

.sectionHeader {
    font-weight:bold;
}

.showCardsSection {
    clear: both;
    float: left;
    padding-top: 10px;
}

.actionSection {
    clear: both;
    float: left;
    padding-top: 20px;
    max-width: 478px;
}

.red {
    color: #ff0000;
}

.currentActionLabel {
    color: white;
    background-color: #ff0000;
    padding: 5px 20px;
}

.radioSpacing td {
    padding-right: 10px;
}

