.gamePage {
    padding: 10px;
    float: left;
    width: 1024px;
    overflow: auto;
}

.leftSection {
    float: left;
    width: 260px;
    margin-right: 10px;
}

.middleSection {
    float: left;
    width: 462px;
    margin-right: 10px;
}

.rightSection {
    float: left;
    width: 280px;
}

.baseCards {
    float: left;
}

.supplyGrid {
    clear: both;
    float: left;
    padding-top: 10px;
}

.cardViewSection {
    clear: both;
    padding-top: 10px;
}

.overrunCards {
    float: left;
    margin-right: 10px;
}

.playerInfoSection {
    float: left;
    padding-top: 12px;
}

.unitsSection {
    clear: left;
    float: left;
    padding-top: 10px;
}

.yourUnitsSection {
    float: left;
    margin-right: 10px;
    padding: 5px;
    min-width: 215px;
}

.opponentUnitsSection {
    float: left;
    padding: 5px;
    min-width: 215px;
}

.playAreaSection {
    clear: left;
    padding-top: 10px;
}

.playArea {
    padding-left: 20px;
    padding-top: 10px;
}

.handSection {
    padding-top: 10px;
}

.hand {
    padding-left: 20px;
    padding-top: 10px;
}

.gameLog {
    height: 220px;
    overflow: auto;
    border: 2px solid black;
}

.playerCardInfoSection {
    padding-top: 10px;
}

.playerCardInfoBox {
    border: 1px solid #333;
    background-color: #CCC;
    float: left;
    width: 277px;
}

.playerCardInfoRow {
    clear: left;
    float: left;
    padding: 5px;
}

.playerCardInfoNameContainer {
    float: left;
    min-width: 100px;
    margin-right: 5px;
    position: relative;
    top: -5px;
}

.playerCardInfoName {
    float: left;
    padding: 7px 14px;
}

.playerCardInfoValue {
    float: left;
    min-width: 45px;
    margin-right: 5px;
    text-align: center;
}

.turnInfoSection {
    clear: both;
    padding-top: 10px;
    text-align: center;
}

.turnButtonsSection {
    clear:both;
}

.turnButtonWrapper {
    padding-top: 10px;
    clear: both;
    float: left;
}

.turnButton {
    float: left;
    min-width: 150px;
    text-align: center;
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    text-shadow: 1px 1px 3px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 18px;
    padding: 25px 60px 25px 60px;
    border: solid #1f628d 2px;
    text-decoration: none;
}

.turnButton:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

.supplyCard {
    clear: both;
    float: left;
    margin-bottom: 2px;
}

.supplyCardCost {
    float: left;
    padding: 5px 10px;
    margin-right: 2px;
    min-width: 24px;
    text-align: center;
}

.supplyCardInfo {
    float: left;
    padding: 5px 10px;
    min-width: 190px;
}

.infantryUnit {
    background-color: #66AA66;
}

.mechUnit {
    background-color: #DD5555;
}

.vehicleUnit {
    background-color: #F88017;
}

.resource {
    background-color: #EECC00;
}

.supportReaction {
    background-color: #77AAEE;
}

.support {
    background-color: #CCCCCC;
}

.overrunCard {
    background-color: #7733BB;
    color: white;
    margin-bottom: 2px;
    padding: 6px 8px;
    min-width: 115px;
    font-size: 14px;
}

.player {
    background-color: #DDFF77;
}

.opponent {
    background-color: #FFDDAA;
}

.card {
    clear: both;
    float: left;
    margin-bottom: 2px;
}

.cardInfo {
    float: left;
    padding: 5px 10px;
    min-width: 190px;
}

.playerInfo {
    padding-top: 5px;
    clear: both;
    float: left;
}

.playerInfoName {
    float: left;
    padding: 10px;
    margin-right: 2px;
    min-width: 128px;
}

.playerInfoValue {
    float: left;
    padding: 10px;
    margin-right: 2px;
    min-width: 35px;
}

.turnPhaseText {
    font-size: 20px;
    text-decoration: underline;
    font-style: italic;
}

.turnValueTextWrapper {
    padding-top: 5px;
}

.turnValueText {
    font-size: 20px;
    font-style: italic;
}

