.chatSection {
    width: 600px;
    padding: 5px;
    border: 2px solid black;
}

.chats {
    height: 300px;
    overflow: auto;
    padding-right: 5px;
}

.lobbyHeader {
    padding-bottom: 10px;
    font-weight: bold;
}

.lobbyPage {
    padding: 10px;
    font-size: 16px;
    font-family: serif;
    background-image: url("#{resource['images/LobbyBackground.jpg']}");
    background-size: 100%;
}