.chatSection {
    width: 600px;
    padding: 5px;
    border: 2px solid black;
}

.chats {
    height: 300px;
    overflow: auto;
    padding-right: 5px;
}

.lobbyHeader {
    padding-bottom: 10px;
    font-weight: bold;
}

.lobbyPage {
    padding: 10px;
    font-size: 16px;
    font-family: serif;
    background-image: url("#{resource['images/LobbyBackground.jpg']}");
    background-size: 100%;
}

.lobbyButton {
    float: left;
    min-width: 100px;
    text-align: center;
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    border-radius: 12px;
    text-shadow: 1px 1px 3px #666666;
    font-family: Arial, sans-serif;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 20px 10px 20px;
    border: solid #1f628d 2px;
    text-decoration: none;
}

.lobbyButton:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}